.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),
    url("/src/assets/hero.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  text-align: center;
  width: minmax(8rem, 12rem);
}
.hero-text h1 {
  font-size: 3.8rem;
  font-weight: 600;
}

.hero-text p {
  max-width: 45rem;
  margin: 10px auto 20px;
  line-height: 1.4;
}

/* media-Query */

@media (max-width: 850px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 650px) {
  .hero-text h1 {
    font-size: 1.7rem;
    max-width: 400px;
    margin: auto;
  }
  .hero-text p {
    font-size: 0.8rem;
    margin: 15px auto;
  }
}
